# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle/
build/
**/build/

# Local config
local.properties

# Logs & temp
*.log
*.tmp
*.temp
*.swp
*.bak

# Android artifacts
*.apk
*.ap_
*.aab
*.dex
bin/
gen/
out/

# Native build
.cxx/
.externalNativeBuild/

# Firebase
google-services.json
fabric.properties

# Secrets
*.jks
*.keystore
secrets.properties

# Kotlin / Java
*.kotlin_module
*.class

# Profiling
captures/

# Compose
.compose/

# OS files
.DS_Store
Thumbs.db
